@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fff4e6; /* A nice coffee-cream color */
  --foreground: #171717;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}